<template>
  <div class="card">
    <div class="card__top">
      <div class="card__pic">
        <el-image :src="card.icon" alt=""></el-image>
      </div>
      <div class="card__main">
        <p class="card__title">{{card.name}}</p>
        <div class="card__top-info">
          <div class="card__top-info-item">
            <simple-svg
              class="card__icon"
              width="12px"
              fill="#979898"
              :filepath="platformIcon"
            ></simple-svg>
            <span class="card__price">{{card.price}}</span>
          </div>
          <div class="card__top-info-item">
            <simple-svg
              class="card__icon"
              :filepath="starIcon"
              fill="#F8BF25"
              width="20px"
            ></simple-svg>
            <span class="card__rating">{{card.rating}}</span>
          </div>
          <div class="card__top-info-item">
            <simple-svg
              class="card__icon"
              :filepath="locationIcon"
              fill="#979898"
              width="9px"
            ></simple-svg>
            <span class="card__location">{{card.location}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card__bottom">
      <div class="card__bottom-item">
        <p class="card__bottom-item-key">ASO index</p>
        <p class="card__bottom-item-value">{{card.asoindex}}</p>
      </div>
      <div class="card__bottom-item">
        <p class="card__bottom-item-key">Установок в месяц</p>
        <p class="card__bottom-item-value">{{installations}}</p>
      </div>
      <div class="card__bottom-item">
        <p class="card__bottom-item-key">В категории</p>
        <p class="card__bottom-item-value">{{card.categoryPosition}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import appleIcon from '../assets/svg/apple.svg';
import androidIcon from '../assets/svg/android.svg';
import starIcon from '../assets/svg/star.svg';
import locationIcon from '../assets/svg/mark.svg';

export default {
  props: {
    card: Object,
  },
  data() {
    return {
      starIcon,
      locationIcon,
    };
  },
  computed: {
    installations() {
      const original = this.card.installations;
      let suffix = '';
      let computed = original;
      while (computed > 1000) {
        computed /= 1000;
        suffix += 'k';
      }
      computed = Math.round(computed);
      return computed + suffix;
    },
    platformIcon() {
      return this.card.platform === 'android' ? androidIcon : appleIcon;
    },
  },
};
</script>
<style scoped lang="scss">
  .card {
    background: #fff;
    border-radius: 16px;
    padding: 13px 12px;
    box-sizing: border-box;
    margin-top: 23px;

    &__top {
      display: flex;
    }

    &__pic {
      width: 81px;
      height: 81px;
      border-radius: 10px;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      margin-right: 16px;
    }

    &__main {
      display: flex;
      flex-direction: column;
    }

    &__title {
      font: 500 18px/24px Museo Sans Cyrl;
      color: #1D353D;
      max-width: 223px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: auto;

    }

    &__top-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }

    &__price {
      border: 1px solid #979898;
      border-radius: 6px;
      font: 500 13px/15px Museo Sans Cyrl;
      letter-spacing: 0.11px;
      color: #979898;
      opacity: 1;
      padding: 6px;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
    }

    &__rating,
    &__location {
      font: 500 15px/18px Museo Sans Cyrl;
      letter-spacing: 0.13px;
      color: #1D353D;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 26px;
    }

    &__bottom-item {
      border-right: 1px solid #E8E8E8;
      flex: 1 1 auto;
      text-align: center;

      &:last-child {
        border-right: 0;
      }
    }

    &__bottom-item-key {
      font: 500 12px/16px Museo Sans Cyrl;
      color: #979898;
      margin-bottom: 10px;
    }

    &__bottom-item-value {
      font: 900 26px/18px Museo Sans Cyrl;
      color: #1D353D;
    }
  }
</style>
