<template>
  <div class="filter">
    <div class="filter__top">
      <div class="filter__tab" :class="{_active: isActive(key)}" v-for="(item, key) in apps"
           :key="key" @click="tabChange(key)">{{item.name}}
      </div>
    </div>
    <div class="filter__bottom">
      <div class="filter__item">
        <p class="filter__item-title">Фильтр</p>
        <div class="filter__radio">
          <label class="filter__radio-inner">
            <input type="radio" v-model="platform" value="all" class="hidden radio-input"/>
            <span class="filter__radio-button">
            <span class="filter__radio-content">Все</span>
          </span>
          </label>
        </div>
        <div class="filter__radio">
          <label class="filter__radio-inner">
            <input type="radio" v-model="platform" value="apple" class="hidden radio-input"/>
            <span class="filter__radio-button">
            <span class="filter__radio-content">
              <simple-svg
                :filepath="appleIcon"
                width="18px"
              ></simple-svg>
            </span>
          </span>
          </label>
        </div>
        <div class="filter__radio">
          <label class="filter__radio-inner">
            <input type="radio" v-model="platform" value="android" class="hidden radio-input"/>
            <span class="filter__radio-button">
            <span class="filter__radio-content">
              <simple-svg
                :filepath="androidIcon"
                width="21px"
              ></simple-svg>
            </span>
          </span>
          </label>
        </div>
      </div>
      <div class="filter__item">
        <p class="filter__item-title">Рейтинг</p>
        <el-select v-model="rate" clearable placeholder="Выбрать" class="select"
                   :popper-append-to-body="false">
          <el-option
            class="select__item"
            value="2">
            <span class="select__item-text">От 2,0</span>
            <simple-svg
              class="select__item-svg"
              :filepath="starIcon"
              fill="#F8BF25"
            ></simple-svg>
          </el-option>
          <el-option
            class="select__item"
            value="3">
            <span class="select__item-text">От 3,0</span>
            <simple-svg
              class="select__item-svg"
              :filepath="starIcon"
              fill="#F8BF25"
            ></simple-svg>
          </el-option>
          <el-option
            class="select__item"
            value="4">
            <span class="select__item-text">От 4,0</span>
            <simple-svg
              class="select__item-svg"
              :filepath="starIcon"
              fill="#F8BF25"
            ></simple-svg>
          </el-option>
        </el-select>
      </div>
    </div>
  </div>
</template>
<script>
import appleIcon from '../assets/svg/apple.svg';
import androidIcon from '../assets/svg/android.svg';
import starIcon from '../assets/svg/star.svg';

export default {
  data() {
    return {
      appleIcon,
      androidIcon,
      starIcon,
    };
  },
  computed: {
    name: {
      get() {
        return this.$store.state.currentWorkspace;
      },
      set(value) {
        this.$store.dispatch('setCurrentWorkspace', value);
      },
    },
    platform: {
      get() {
        if (this.$store.state.filters[this.name]) {
          return this.$store.state.filters[this.name].platform;
        }
        return 'all';
      },
      set(value) {
        this.$store.dispatch('setWorkspaceFilter', {
          name: this.name,
          key: 'platform',
          value,
        });
      },
    },
    rate: {
      get() {
        if (this.$store.state.filters[this.name]) {
          return this.$store.state.filters[this.name].rate;
        }
        return '';
      },
      set(value) {
        this.$store.dispatch('setWorkspaceFilter', {
          name: this.name,
          key: 'rate',
          value,
        });
      },
    },
    apps() {
      return this.$store.state.apps;
    },
  },
  methods: {
    isActive(name) {
      return this.$route.params.workspace === name;
    },
    tabChange(name) {
      this.$store.dispatch('setWorkspace', name);
      this.$router.push({
        name: 'workspace',
        params: {
          workspace: name,
        },
      });
    },
  },
};
</script>
<style scoped lang="scss">
  .hidden {
    display: none;
  }

  .filter {

    &__tab {
      display: inline-block;
      vertical-align: top;
      border-radius: 13px 13px 0 0;
      background-color: #E8E8E8;
      font: 500 15px/18px Museo Sans Cyrl;
      letter-spacing: 0.13px;
      color: #979898;
      padding: 8px 16px 6px 20px;
      cursor: pointer;

      &._active {
        background-color: #fff;
        position: relative;
        z-index: 1;

        &:not(:first-child):before {
          content: '';
          position: absolute;
          bottom: 0;
          left: -13px;
          width: 13px;
          height: 13px;
          background: radial-gradient(circle at top left,
            transparent,
            transparent 13px,
            #fff 13px,
            #fff);
        }

        &:not(:last-child):after {
          content: '';
          position: absolute;
          bottom: 0;
          right: -13px;
          width: 13px;
          height: 13px;
          background: radial-gradient(circle at top right,
            transparent,
            transparent 13px,
            #fff 13px,
            #fff);
        }
      }
    }

    &__bottom {
      background-color: #fff;
      border-radius: 0 16px 16px 16px;
      padding: 14px 18px 16px 18px;
      display: flex;
    }

    &__item {
      margin-right: 16px;
    }

    &__item-title {
      font: 500 15px/29px Museo Sans Cyrl;
      color: #1D353D;
      margin: 0 0 18px 0;
    }

    &__radio {
      height: 34px;
      display: inline-block;
      vertical-align: middle;

      &:not(:last-child) {
        padding-right: 11px;
        margin-right: 9px;
        position: relative;
        z-index: 1;

        &:before {
          content: '';
          position: absolute;
          right: 0;
          top: 8px;
          bottom: 8px;
          width: 1px;
          background: #E8E8E8;
        }
      }
    }

    &__radio-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 8px 13px 8px 15px;
      box-sizing: border-box;
      height: 34px;
      background: #F1F1F5;
      border-radius: 10px;
      cursor: pointer;

      & /deep/ .simple-svg {
        fill: #979898;
      }
    }

    .radio-input:checked + .filter__radio-button {
      background-color: #3469f2;
      color: #fff;

      & /deep/ .simple-svg {
        fill: #fff;
      }
    }
  }

  .select {

    &__item {
      &.hover,
      &:hover {
        background-color: #3469F2;
        color: #fff;
      }
    }

    &__item-text {
      display: inline-block;
      vertical-align: middle;
      font: 500 15px/28px Museo Sans Cyrl;
      letter-spacing: 0.13px;
    }

    &__item-svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 3px;

      & /deep/ .simple-svg {
        width: 15px;
        height: 14px;
      }
    }

    & /deep/ {
      & .el-input {
        border-radius: 10px;
      }

      & .el-input__inner {
        background: #F1F1F5;
        border-radius: 10px;
        border: none;
        height: 34px;

        &::placeholder {
          font: 500 15px/18px Museo Sans Cyrl;
          color: #979898;
        }

        &::-ms-input-placeholder {
          font: 500 15px/18px Museo Sans Cyrl;
          color: #979898;
        }
      }

      & .is-focus {
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.29);

        & .el-input__inner {
          border-radius: 10px 10px 0 0;
        }
      }

      & .el-popper {
        margin: 0;
        border-radius: 0;
      }

      & .el-select-dropdown {
        background: #F1F1F5;
      }

      & .popper__arrow {
        display: none;
      }
    }
  }
</style>
