<template>
  <div class="home">
    <AppsFilter/>
    <Workspace/>
  </div>
</template>

<script>
import Workspace from './Workspace.vue';
import AppsFilter from './Filter.vue';

export default {
  components: {
    Workspace,
    AppsFilter,
  },
};
</script>
