<template>
  <div class="workspace">
    <Card class="workspace__card"
          v-for="item in filteredApps"
          :card="item"
          :key="item.categoryPosition"></Card>
    <el-alert
      style="margin-top: 12px"
      v-if="Object.keys(apps).length === 0"
      title="На этом рабочем столе пока нет ни одного приложения"
      type="warning"
      :closable="false"
      show-icon>
    </el-alert>

    <el-alert
      style="margin-top: 12px"
      v-if="Object.keys(apps).length !== 0 && Object.keys(filteredApps).length === 0"
      title="По вашему запросу ничего не нашлось"
      description="Попробуйте ослабить фильтры"
      type="warning"
      :closable="false"
      show-icon>
    </el-alert>
  </div>
</template>

<script>
import Card from './Card.vue';

export default {
  computed: {
    name() {
      return this.$store.state.currentWorkspace || Object.keys(this.$store.state.apps)[0];
    },
    apps() {
      return this.$store.state.apps[this.name].applications || [];
    },
    filteredApps() {
      return this.$store.getters.filteredApps;
    },
  },
  components: {
    Card,
  },
};
</script>

<style scoped lang="scss">
  .workspace {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    &__card {
      flex: 0 1 50%;
      margin-left: 8px;
      margin-right: 8px;
      max-width: 420px;
    }
  }
</style>
