<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style src="./assets/styles/reset.css"></style>
<style src="./assets/styles/fonst.css"></style>
<style lang="scss">
  body {
    background: #F1F1F5;
    font-family: 'Museo Sans Cyrl', sans-serif;
    color: #979898;
  }

  #app {
    max-width: 856px;
    width: 100%;
    padding: 50px 0 62px 0;
    margin: 0 auto;
  }
</style>
